* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

body {
	/* background: linear-gradient(
		90deg,
		rgba(48, 16, 255, 1) 0%,
		rgba(100, 115, 255, 1) 100%
	); */
	background: url(images/bg.jpg);
	background-position: center;
	background-size: cover;
	backdrop-filter: blur(8px);
	height: 100vh;
}

.todo-app {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	color: #fff;
	height: 100%;
	padding: 0 0.7rem;
}

.todo-container {
	background-color: #000;
	min-height: 500px;
	width: 500px;
	margin: 4rem auto;
	border-radius: 10px;
	border: 1px solid #fff;
	padding: 1.5rem;
}

.todo-container h1 {
	font-size: 150%;
	text-align: center;
	margin-bottom: 2rem;
}

.todo-form {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	background: linear-gradient(
		90deg,
		rgba(93, 12, 255, 1) 0%,
		rgba(155, 0, 250, 1) 100%
	);
	padding: 2px;
	border-radius: 3px;
	margin-bottom: 2rem;
}

.todo-cover {
	overflow-y: auto;
	height: 400px;
}

.todo-cover::-webkit-scrollbar {
	display: none;
}

.todo-form input {
	width: 80%;
	padding: 1rem;
	outline: none;
	border: none;
	background-color: #000;
	color: #fff;
}

.todo-form input::placeholder {
	color: #fff;
}

.todo-form button {
	width: 20%;
	outline: none;
	border: none;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	padding: 5px;
}

.todo-item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0.5rem;
	border-radius: 7px;
	margin: 8px 0;
	background: linear-gradient(
		90deg,
		rgba(255, 118, 20, 1) 0%,
		rgba(255, 84, 17, 1) 100%
	);
}

.edit-todo-group {
	display: flex;
	align-items: center;
	width: 100%;
}

.todo-item:nth-child(4n + 1) {
	background: linear-gradient(
		90deg,
		rgba(20, 159, 255, 1) 0%,
		rgba(17, 122, 255, 1) 100%
	);
}

.todo-item:nth-child(4n + 2) {
	background: linear-gradient(
		90deg,
		rgba(255, 12, 241, 1) 0%,
		rgba(250, 0, 135, 1) 100%
	);
}

.todo-item:nth-child(4n + 3) {
	background: linear-gradient(
		90deg,
		rgba(93, 12, 255, 1) 0%,
		rgba(155, 0, 250, 1) 100%
	);
}

.todo-item p {
	width: 70%;
	padding: 10px;
	outline: none;
	border: none;
	color: #fff;
	background-color: transparent;
}

.todo-item button {
	background-color: transparent;
	border: none;
	margin: 0 5px;
	cursor: pointer;
	color: #fff;
	font-size: 1.2rem;
}

.completed {
	opacity: 0.5;
	text-decoration: line-through;
}

.edit-input {
	background-color: transparent;
	outline: none;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 10px;
	font-size: 1rem;
	color: #fff;
	width: 90%;
}

.edit-todo-group button{
	width: 10%;
}

.icon-group {
	padding-top: 10px;
}

@media screen and (min-width: 768px){
	.todo-cover {
		overflow-y: auto;
		height: 300px;
	}
}

@media screen and (max-width: 768px) {
	.todo-container {
		margin: 1rem auto;
		padding: 1.5rem;
	}
}

@media screen and (max-width: 425px) {
	.icon {
		font-size: 80%;
	}
	.todo-container {
		padding: 1.5rem 1rem;
	}
	.todo-item {
		padding: 0.5rem 0.2rem;
	}
	.todo-item p {
		font-size: 85%;
	}
	.edit-input {
		font-size: 85%;
		padding: 8px 10px;
		width: 80%;
	}
	.todo-form button {
		font-size: 75%;
	}
}
@media screen and (max-width: 375px) {
	.todo-container h1 {
		font-size: 130%;
		text-align: center;
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 315px) {
	.todo-item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.todo-item p {
		width: 95%;
		padding: 5px;
	}
}
